module.exports =
    # Prod settings: in prod mode, auth requests are done.
    # In dev mode (dev == !prod), auth are directly retrieved from files in app/ and user/
    prod: true

    # The port on which you would like to run the webserver
    port: 1337

    # The tent.js path (tent nodejs lib by github.com/benjbouv)
    tentlib: './tent.js/lib/tent'

    # The app description (see tent.io/docs)
    app:
        name: 'Diary'
        description: 'Essay writer app. Challenge by cacauu.tent.is, accepted by bnj.tent.is.'
        url: 'http://diary.benj.me'
        redirect_uris: ['http://diary.benj.me/cb']
        scopes:
            write_posts: 'Writes essays on your behalf.'
            read_posts: 'Reads essays so as to be able to update them in the future.'

