module.exports =
    # Prod settings: in prod mode, auth requests are done.
    # In dev mode (dev == !prod), auth are directly retrieved from files in app/ and user/
    prod: true

    # The port on which you would like to run the webserver
    port: 1337

    # The app description (see tent.io/docs)
    app:
        name: 'Diary'
        url: 'http://diary.benj.me'
        redirect_uri: 'http://diary.benj.me/cb'
        types:
            write: ['https://tent.io/types/essay/v0']
            read: ['https://tent.io/types/essay/v0']

