extends loggedin

block sub
    .page-header
        h1 Your subscriptions' essays

    table(class="table table-striped")
        thead
            tr
                th Article
                th Author
                th Last update
        tbody
            for e in essays
                tr
                    td
                        a(href=e.readLink)
                            =e.content.title
                    td=e.profile.name
                    td=formatDate(e.published_at)
