extends loggedin

block sub
    .page-header
        h1 Writing an essay

    form(action='/new', method='post')
       .tabbable
            ul.nav.nav-tabs
                li.active
                    a(href='#tab-compose', data-toggle='tab') Compose
                li
                    a(href='#tab-medium', data-toggle='tab') WYSIWIG
                li
                    a(href='#tab-preview', data-toggle='tab') Preview
            .tab-content
                .tab-pane.active#tab-compose
                    fieldset
                        legend Optional fields
                        input(type='hidden', value=token, name='_csrf')

                        if form.update
                            input(type='hidden', value=form.update, name='update')

                        p
                            label A title for your essay:
                                if form.title
                                    input(type='text', name='title', placeholder='title', value=form.title)#title
                                else
                                    input(type='text', name='title', placeholder='title')#title
                        p
                            label(for='summary') A summary (html) for your essay:
                            textarea(name='summary', placeholder='Summary goes here', rows=5).field.span12#summary=form.summary
                        p
                            label Private
                                if form.isPrivate
                                    input(type='checkbox', name='isPrivate', checked='checked')
                                else
                                    input(type='checkbox', name='isPrivate')
                    fieldset
                        legend Required field
                        p
                            label(for='content') The content of your essay

                    textarea(name='content', placeholder='Essay goes here',rows=5).field.span12#composer=form.content
                    p.form-actions
                        input(type='submit', value='write').btn

                .tab-pane#tab-preview
                    #preview
                .tab-pane#tab-medium
                    .field.span12#mComposer=form.content

    script(src='/js/medium-editor.js')
    script.
        $(document).ready(function() {
            var _title = $('#title');
            var _summary = $('#summary');
            var _preview = $('#preview');
            var _composer = $('#composer');
            var _mComposer = $('#mComposer');

            function stripScripts(txt) {
                return txt.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, '')
            }

            function updatePreview() {
                var html = '<div class="hero-unit"><h1>' + stripScripts(_title.val()) + '</h1>' +
                           '<p>' + stripScripts(_summary.val()) + '</p></div>' +
                           '<div class="container">' + stripScripts(_composer.val()) +
                           '</div>';
                _preview.html(html);
            }

            _summary.change(updatePreview);
            _title.change(updatePreview);

            var mediumEditor = new MediumEditor('#mComposer', {
                placeholder: 'Essay goes here'
            });

            // Keep mComposer in sync with composer and preview
            // mComposer -> composer / preview
            function syncMediumComposer(x) {
                var mediumContent = _mComposer.html();
                _composer.val(mediumContent);
                updatePreview();
            }
            _mComposer.keyup(syncMediumComposer);
            _mComposer.blur(syncMediumComposer);

            // composer -> mComposer
            function syncComposerMedium() {
                _mComposer.html(_composer.val());
            }

            _composer.change(function() {
                syncComposerMedium();
                updatePreview();
            });

            syncComposerMedium();
            updatePreview();
        });

