extends layout

block content
    .navbar.navbar-inverse
        .navbar-inner
            .container
                a.brand Diary
                .nav-collapse.collapse
                    ul.nav
                        li.dropdown
                            a(href='#', data-toggle='dropdown').dropdown-toggle Feed
                            ul.dropdown-menu
                                li
                                    a(href='/') Show
                                li
                                    a(href='/subs/') Manage subscriptions
                        li.dropdown
                            a(href='#', data-toggle='dropdown').dropdown-toggle Admin
                            ul.dropdown-menu
                                li
                                    a(href='/my') My essays
                                li
                                    a(href='/my/new') Create
                        li.pull-right
                            a(href='/logout') Logout
                        li
                            a(href="http://flattr.com/thing/1532581/BenjBouvdiary-on-GitHub", target="_blank")
                                img(src="http://api.flattr.com/button/flattr-badge-large.png", alt="Flattr this", title="Flattr this", border="0")

    .container
        .row
            if flash
                p
                    for f in flash.success
                        span.text-success #{f}
                    for f in flash.error
                        span.text-error #{f}

        .row
            block sub

