extends loggedin

block sub
    .page-header
        h1 Your subscriptions

    div
        form(action='/subs/new', method='post').form-inline
            h3 New subscription
            input(type='hidden', value=token, name='_csrf')
            p
                label(for='entity') Enter here the entity you want to subscribe to:
                input(type='text', name='entity', placeholder='Entity')#entity
                input(type='submit', value='subscribe').btn
        h3 Your subscriptions
        table(class="table table-striped")
            thead
                tr
                    th Name
            tbody
                for s in subscriptions
                    tr
                        td
                            if s.pageLink
                                a(href=s.pageLink)=s.profile.name
                            else
                                s.profile.name
        h3 Your subscribers
        table(class="table table-striped")
            thead
                tr
                    th Name
            tbody
                for s in subscribers
                    tr
                        td
                            if s.pageLink
                                a(href=s.pageLink)=s.profile.name
                            else
                                s.profile.name

